<div class="wrapper">
    <!-- Different selectors -->
    <!-- <div class="app-nav"></div> -->
    <!-- <div app-nav></div> -->

    <!--<app-nav></app-nav>
    <app-header></app-header>
    <app-notification></app-notification> -->

    <!-- <app-search></app-search> -->

    <!--<app-products></app-products> -->

    <!--<app-demo></app-demo>-->
    <!--<app-customer-list #customer></app-customer-list>
    <p>You have selected {{ customer.selectedCustomer?.name }}</p> -->

    <app-child-container></app-child-container>
</div>